<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-success" v-on:click="processSelection">Process Selection</button>
    </div>
    <div class="col-sm">
      <h2>Uploaded Datasheets</h2>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" v-on:click="deleteSelection">Delete Selection</button>
    </div>
  </div>
</div>

<div id="home_datasheets_table" class="table-wrapper-scroll-y">
  <table class = "table table-hover">
     <thead>
        <tr>
           <th> </th>
           <th>Name</th>
           <th>PDF</th>
           <th>Added</th>
           <th><input class="form-check-input position-static" type="checkbox" v-on:change="selectAll" v-model="allSelected" aria-label="Select All"></th>
        </tr>
     </thead>

     <tbody>
           <tr v-for="datasheet in datasheets">
              <td><i class="far fa-file-alt"></i></td>
              <td> {{datasheet.name}} </td>
              <td><a v-bind:href="datasheet.pdfDatasheet.url" > View PDF </a></td>
              <td> {{ formatDate(datasheet.updated_at) }} </td>
              <td> <input class="form-check-input position-static" type="checkbox" v-bind:value="datasheet.id" v-model="selectedDatasheets" aria-label="Select Datasheet"> </td>
           </tr>
     </tbody>
  </table>
</div>
