<div class="topnav">
 <%= link_to 'Datasheets', datasheets_url, class:"left_tab", class:"active"%>
 <%= link_to 'Categories', datasheet_categories_url%>
 <%= link_to 'Database', materials_index_url%>
 <%= link_to 'About', about_index_url%>
</div>
