<div class="container">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-success" v-on:click="processSelection">Process Selection</button>
    </div>
    <div class="col-sm">
      <h2>Uploaded Datasheets</h2>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" v-on:click="deleteSelection">Delete Selection</button>
    </div>
  </div>
</div>

<table class = "table table-hover">
   <thead>
      <tr>
         <th> </th>
         <th>Name</th>
         <th>PDF</th>
         <th>Added</th>
         <th><input class="form-check-input position-static" type="checkbox" v-on:change="selectAll" v-model="allSelected" aria-label="Select All"></th>
      </tr>
   </thead>

   <tbody>
     <!-- datasheet items contain the original datasheet as given by the server, and a selected parameter. -->
         <tr v-if="datasheetItems.length > 0" v-for="datasheetItem in datasheetItems">
            <td><i class="far fa-file-alt"></i></td>
            <td> {{datasheetItem.datasheet.name}} </td>
            <td><a v-bind:href="datasheetItem.datasheet.pdfDatasheet.url" > View PDF </a></td>
            <td> {{ formatDate(datasheetItem.datasheet.updated_at) }} </td>
            <td> <input class="form-check-input position-static" type="checkbox" v-model="datasheetItem.selected" aria-label="Select File"> </td>
         </tr>
   </tbody>

</table>
