<div class="tab_body" id="home_view">

  <div id="home_top_container">
  <%= render "alert_block" %>

  <%= render "upload_datasheet" %>
  </div>

  <div id="home_datasheets_table_container">
  <%= render "datasheets_table" %>
  </div>

</div>
