<%= form_for DatasheetCategory.new, html: { multipart: true, class: "form-inline" } do |f| %>
  <div class="form-group upload-btn-wrapper btn btn-warning">
    <%= f.file_field :logo, "v-on:change": "selectLogo", class: "inputfile" %>
    <label>Select logo</label>
  </div>

  <label class="file_name_label"> {{ logoName }} </label>

  <div class="form-group column">
    <%= f.text_field :name, placeholder: "New Category", class: "form-control", id:"category_name" %>
  </div>

  <div class="form-group column">
    <%= f.submit "Add Category", class: "btn btn-success" %>
  </div>
<% end %>
