<div id="datasheet_table" class="table-wrapper-scroll-y">
  <table class = "table table-hover">
     <thead>
        <tr>
           <th>Datasheets</th>
        </tr>
     </thead>
     <tbody>
        <tr v-for="datasheet in datasheets" v-on:click="selectDatasheet(datasheet)">
          <td v-if="selectedDatasheet && (datasheet.id == selectedDatasheet.id)" class="table-active"> {{ datasheet.name }} </td>
          <td v-else> {{ datasheet.name }} </td>
        </tr>
     </tbody>
  </table>
</div>
