<div id="datasheet_table" class="table-wrapper-scroll-y">
  <table class = "table table-hover">
     <thead>
        <tr>
           <th>Datasheets</th>
           <th>Status</th>
        </tr>
     </thead>
     <tbody>
        <tr v-for="(datasheet_item, datasheet_id) in datasheets" v-on:click="selectDatasheet(datasheet_item)">
          <td v-bind:class="{ 'table-active': datasheet_item.selected }"> {{ datasheet_item.datasheet.name }} </td>

          <td v-if="datasheet_item.status=='ok'" v-bind:class="{ 'table-active': datasheet_item.selected }"><i class="far fa-check-circle"></i></td>
          <td v-else-if="datasheet_item.status=='warning'" v-bind:class="{ 'table-active': datasheet_item.selected }"><i class="fas fa-exclamation-circle"></i></td>
          <td v-else v-bind:class="{ 'table-active': datasheet_item.selected }"><i class="far fa-circle"></i></td>
        </tr>
     </tbody>
  </table>
</div>
