<div id="process_view" class="tab_body">

  <nav class="mode_nav nav nav-pills nav-justified orange">
    <span v-for="mode in modes" v-bind:class="['nav-item nav-link', { active: currentMode==mode}]" v-on:click="switchMode(mode)"> {{ mode }}</span>
  </nav>

  <div class="mode_container" v-if='currentMode=="Selections"'>
    <%= render 'selection_mode' %>
  </div>
  <div v-else class="mode_container">
    <%= render 'data_mode' %>
  </div>
</div>
