<div id="process_view" class="tab_body">

  <div id="top_row" class="row">
    <div class="col">
      <%= render 'top_control'%>
    </div>
  </div>

  <div id="main_row" class="row">
    <div id="datasheets_column" class="col-3">
      <%= render 'datasheets_sidebar'%>
    </div>
    <div id="pdf_column" class="col">
      <%= render 'pdf_view'%>
    </div>
  </div>
</div>
