<div id="control_div">
  <div id="selection_table" class="table-wrapper-scroll-y">
    <table class = "table table-hover">
       <thead>
          <tr>
             <th>View</th>
             <th>Datasheet</th>
             <th>Page</th>
             <th>Table Orientation</th>
             <th>Headers</th>
             <th>Remove</th>
          </tr>
       </thead>

       <tbody>
         <tr v-for="selection in selections">
            <td><button class="btn btn-info" v-on:click="viewSelection(selection)"> View selection </button></td>
            <td> {{ selection.datasheet.datasheet.name }} </td>
            <td> {{ selection.page }} </td>
            <td>
              <div class="radio">
                <label><input type="radio" value="horizontal" v-model="selection.orientation">Horizontal</label>
              </div>
              <div class="radio">
                <label><input type="radio" value="vertical" v-model="selection.orientation">Vertical</label>
              </div>
            </td>

            <td><input type="checkbox" v-model="selection.headers" v-bind:disabled="selection.orientation=='vertical'"></td>
            <td><button class="btn btn-danger" v-on:click="deleteSelection(selection)">Remove</button></td>
         </tr>
       </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-success" v-on:click="extractData">Extract data!</button>
      </div>
    </div>
  </div>


</div>
