<div class="topnav">
 <%= link_to 'Datasheets', datasheets_url, class:"left_tab"%>
 <%= link_to 'Categories', datasheet_categories_url%>
 <%= link_to 'Materials', materials_url%>
 <%= link_to 'About', about_index_url, class:"active"%>
</div>
