#top_row {
  margin: 8px 0px 0px;
  height: 30%;
}

#main_row {
  margin: 0px;
  padding-bottom: 18px;
  height: 70%;
}

#datasheets_column {
  padding-right: 0px;
}

#pdf_column {
  padding-left: 0px;
}

#datasheets_list, #control_div {
  height: 100%;
}

.table-wrapper-scroll-y {
  display: block;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#selection_table {
  margin-top: 5px;
  max-height: 70%;
}

#datasheet_table {
  height: 100%;
  background-color: white;
}

.selection_area {
  position: fixed;
  background-color: rgb(0, 0, 255, 0.3);
  outline: 4px dashed blue;
  outline-offset:0px;
}

.nav-pills > .active, .nav-pills > .active{
    background-color: #CD853F !important;
}
