.form-inline {
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:20px;
  text-align: center;
  display:inline-flex !important;
}

.form-group {
  margin: 0px 5px;
}

#file_name_label {
  font-style: bold;
  font-size: 1.2em;
  margin: 0 5px;
}
