.form-inline {
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:20px;
  text-align: center;
  display:inline-flex !important;
}

.form-group {
  margin: 0px 5px;
}

#file_name_label {
  font-style: bold;
  font-size: 1.2em;
  margin: 0 5px;
}

.titleButtonsBlock {
  width: 100%;
  display: inline-flex;
  margin: 10px 20px
}

.titleButtonsBlock h2 {
  width: 30%;
  margin:auto;
}

.titleButtonsBlock button {
  width: 20%;
  margin:auto;
}
