html {
  height: 100%;
}

 #main_title {
   text-align: center;
 }

 .root_view {
   background-color: LightGrey;
   width: 80%;
   height: 100%;
   margin: auto;
 }

 .tab_body {
   background-color: rgba(115, 115, 115, 0.3);
   width: 100%;
   height: 88%;
   border-radius: 8px;
   margin-top: 8px;
   padding: 1px 0px 0px 0px;
   text-align:center;
 }

 .table th, .table td {
   text-align: center;
   vertical-align: middle !important;
 }


/* Used to hide the ugly default input file */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 40px;
}

.upload-btn-wrapper input[type=file] {
  cursor: inherit;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
}

.alert {
  margin: 10px 10px 10px;
}


.file_name_label {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 5px;
}
