<div class="topnav">
 <%= link_to 'Datasheets', datasheet_categories_index_url, id:"left_tab"%>
 <%= link_to 'Database', materials_index_url, class:"active"%>
 <%= link_to 'About', about_index_url%>
</div>
