<div class="tab_body" id="materials_view">
  <div id="materials_main_row" class="row">
    <div id="search_sidebar" class="col-3">
      <%= render 'search_sidebar'%>
    </div>
    <div id="materials_column" class="col">
      <%= render 'materials_table'%>
      <h3> {{ materialsCount }} materials found.</h3>
      <button v-if="selectedMaterials.length < materials.length" type="button" class="btn btn-primary" v-on:click="selectAllMaterials">Select all</button>
      <button v-else type="button" class="btn btn-primary" v-on:click="unselectAllMaterials">Unselect all</button>
      <button type="button" class="btn btn-success" v-on:click="downloadCsv()">Download .csv</button>
      <button type="button" class="btn btn-danger" v-on:click="deleteSelection()">Delete selection</button>
    </div>
  </div>
</div>
